<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="Tests.CustomTestListener" />
    </listeners>
    <test name="MyTest">
        <classes>
            <class name="Tests.TestFramework" />
        </classes>
    </test>
</suite>